langchain>=0.3.0
langchain-core>=0.3.0

langchain-openai>=0.2.0
openai>=1.0.0

langchain-anthropic>=0.3.0

langchain-google-genai>=2.0.0
google-generativeai>=0.8.0

langchain-huggingface>=0.1.0
transformers>=4.45.0
huggingface-hub>=0.25.0

python-dotenv>=1.0.1
numpy>=1.26.0
scikit-learn>=1.5.0

torch

streamlit>=1.30.0

pydantic
pydantic[email]
grandalf

marimo
langchain_community
pypdf
beautifulsoup4
sentence-transformers
langgraph